# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude other projects
BACKUP_OOS_DESKTOP_MASTER_OLD.zip
BACKUP_OOS_DESKTOP_MASTER_OLD/
CLEAN/
GQL_schemas/
POC/
SMOKE_BRANCH/
THE ONE/
TestSpec-Studio-BE/
TestSpec-Studio/
cleanup_server/
countdown-app/
countdown_anton/
cv_portal/
cypress_parallel_browsers/
experiment_locators/
go_cleanup/
id
java-playground-qa-lab/
k8s-releases/
mms/
muny/
new_work_area/
old_main_go_cleanup_service/
onboard-releases/
onboard/
oos-desktop/
oos-frontend-platforms/
procurement/
ps/
qa-automation-project/
qa-final-project-java/
qa-guided-lab/
sensu-config/
smoke-tests/
stash/
testspec-llm/
whatsapp_migrator/
winter-arc-export.json
winter/
